/* Desktop HD */
header {
position: relative;
width: 1440px;
height: 2810px;

background: #FFFFFF;
}

body{
    margin: 0px;
}

/* footer */
footer{
position: absolute;
width: 1440px;
height: 299px;
left: calc(50% - 1440px/2);
bottom: 0px;
}
